{{!< centercolumn}}

<div class="offset-md-4 col-md-8 col-lg-7 c-profile">
    <div class="card">
        <div class="details">
            <div class="flex-row justify-content-between">
                <h1 class="heading-u-red">My Profile</h1>
                <div class="button-solid align-self-start">
                    <a class="white" href="/users/me/edit">
                        <button>EDIT PROFILE</button>
                    </a>
                </div>
            </div>
            <div class="attributes">
                <div id="profile-row-id" class="flex-row">
                    <div>UserID</div>
                    <div>
                        <span class="faded">{{user.id}}</span>
                    </div>
                </div>
                <div id="profile-row-username" class="flex-row">
                    <div>Username</div>
                    <div>
                        <span class="faded">{{user.username}}</span>
                    </div>
                </div>
                <div id="profile-row-firstname" class="flex-row">
                    <div>Firstname</div>
                    <div>
                        <span class="faded">{{user.firstname}}</span>
                    </div>
                </div>
                <div id="profile-row-lastname" class="flex-row">
                    <div>Lastname</div>
                    <div>
                        <span class="faded">{{user.lastname}}</span>
                    </div>
                </div>
                <div id="profile-row-gender" class="flex-row">
                    <div>Gender</div>
                    <div>
                        <span class="faded">{{user.gender}}</span>
                    </div>
                </div>
                {{#unless user.verifiedemail}}
                    <div id="profile-row-email" class="flex-row">
                        <div>Email Address</div>
                        <div>
                            <span class="faded">
                                <a class="grey" href="mailto:{{user.email}}">{{user.email}}</a>
                            </span>
                        </div>
                    </div>
                {{/unless}}

                {{#unless user.mobile_number}}
                  <div id="profile-row-lastname" class="flex-row">
                      <div>Contact Number</div>
                      <div>
                          <span class="faded">{{user.mobile_number}}</span>
                      </div>
                  </div>
                {{/unless}}

                <div id="profile-row-email" class="flex-row">
                    <div>Verified Email</div>
                    <div>
                        <span class="faded">
                            {{#if user.verifiedemail}}
                                <a class="grey" href="mailto:{{user.email}}">{{user.verifiedemail}}</a>
                            {{else}}
                                <a class="grey" href="#">Not Verified</a>
                            {{/if}}
                        </span>
                    </div>
                </div>
                <div id="profile-row-lastname" class="flex-row">
                    <div>Verified Mobile Number</div>
                    <div>
                        <span class="faded">
                            {{#if user.verifiedmobile}}
                                <a class="grey">{{user.verifiedmobile}}</a>
                            {{else}}
                                <a class="grey" href="/verifymobile">Not Verified</a>
                            {{/if}}
                        </span>
                    </div>
                </div>
                <div id="profile-row-collegename" class="flex-row">
                    <div>College</div>
                    <div>
                        <span class="faded">{{user.demographic.college.name}}</span>
                    </div>
                </div>
                <div id="profile-row-branchname" class="flex-row">
                    <div>Branch</div>
                    <div>
                        <span class="faded">{{user.demographic.branch.name}}</span>
                    </div>
                </div>
                {{#if user.role}}
                    <div id="profile-row-role" class="flex-row">
                        <div>Role@CB</div>
                        <div>
                            <span class="faded">{{user.role}}</span>
                        </div>
                    </div>
                {{/if}}
                {{#if user.userfacebook}}
                    <div id="profile-row-fb" class="flex-row">
                        <div>Facebook Connected</div>
                        <div>
                            <span class="grey">
                                <a class="red" target="_blank" href="http://facebook.com/{{user.userfacebook.id}}">
                                    {{user.firstname}} {{user.lastname}}
                                </a>
                                <a class="grey" href="/disconnect/facebook" title="Disconnect Facebook">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                {{/if}}
                {{#if user.usergoogle}}
                    <div id="profile-row-google" class="flex-row">
                        <div>Google Connected</div>
                        <div>
                            <span class="grey">
                                <a class="red" target="_blank" href="http://google.com/{{user.usergoogle.id}}">
                                    {{user.usergoogle.username}}
                                </a>
                                <a class="grey" href="/disconnect/google" title="Disconnect Google">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                {{/if}}
                {{#if user.usertwitter}}
                    <div id="profile-row-twitter" class="flex-row">
                        <div>Twitter Connected</div>
                        <div>
                            <span class="grey">
                                <a class="red" target="_blank" href="http://twitter.com/{{user.usertwitter.username}}">
                                    {{user.usertwitter.username}}
                                </a>
                                <a class="grey" href="/disconnect/twitter" title="Disconnect Twitter">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                {{/if}}
                {{#if user.usergithub}}
                    <div id="profile-row-github" class="flex-row">
                        <div>Github Connected</div>
                        <div>
                            <span class="grey">
                                <a class="red" target="_blank" href="http://github.com/{{user.usergithub.username}}">
                                    {{user.usergithub.username}}
                                </a>
                                <a class="grey" href="/disconnect/github" title="Disconnect Github">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                {{/if}}
                {{#if user.userlinkedin}}
                    <div id="profile-row-linkedin" class="flex-row">
                        <div>Linkedin Connected</div>
                        <div>
                            <span class="red">
                                <a class="red" target="_blank" href="{{user.userlinkedin.profile}}">
                                    {{user.userlinkedin.username}}
                                </a>
                                <a class="grey" href="/disconnect/linkedin" title="Disconnect Linkedin">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                {{/if}}
                {{#ifCond user.userfacebook user.usergithub user.usergoogle user.usertwitter user.userlinkedin}}
                    <div class="flex-row">
                        You may also connect to:
                    </div>
                {{/ifCond}}
            </div>

            {{#ifCond user.userfacebook user.usergithub user.usergoogle user.usertwitter user.userlinkedin}}
                <div class="links row justify-content-around">
                    {{#unless user.userfacebook}}
                        <div class="col-2">
                            <div class="auth-link">
                                <a href="/connect/facebook">
                                    <button class="button-circle facebook">
                                        <i class="fab fa-facebook-f fa-2x"></i>
                                    </button>
                                    <div class="link-text">FACEBOOK</div>
                                </a>
                            </div>
                        </div>
                    {{/unless}}
                    {{#unless user.usergoogle}}
                        <div class="col-2">
                            <div class="auth-link">
                                <a href="/connect/google">
                                    <button class="button-circle google">
                                        <i class="fab fa-google-plus-g fa-2x"></i>
                                    </button>
                                    <div class="link-text">GOOGLE</div>
                                </a>
                            </div>
                        </div>
                    {{/unless}}
                    {{#unless user.usertwitter}}
                        <div class="col-2">
                            <div class="auth-link">
                                <a href="/connect/twitter">
                                    <button class="button-circle twitter">
                                        <i class="fab fa-twitter fa-2x"></i>
                                    </button>
                                    <div class="link-text">TWITTER</div>
                                </a>
                            </div>
                        </div>
                    {{/unless}}
                    {{#unless user.usergithub}}
                        <div class="col-2">
                            <div class="auth-link">
                                <a href="/connect/github">
                                    <button class="button-circle github">
                                        <i class="fab fa-github fa-2x"></i>
                                    </button>
                                    <div class="link-text">GITHUB</div>
                                </a>
                            </div>
                        </div>
                    {{/unless}}
                    {{#unless user.userlinkedin}}
                        <div class="col-2">
                            <div class="auth-link">
                                <a href="/connect/linkedin">
                                    <button class="button-circle linkedin">
                                        <i class="fab fa-linkedin fa-2x"></i>
                                    </button>
                                    <div class="link-text">LINKEDIN</div>
                                </a>
                            </div>
                        </div>
                    {{/unless}}
                </div>
            {{/ifCond}}

            <div class="attributes">
                <div class="flex-row">
                    <div>My Referral Code</div>
                    <div>
                        <span class="faded">{{user.referralCode}}</span>
                    </div>
                </div>
            </div>


            {{#unless user.verifiedemail}}
                <div class="row mt-4">
                    <input type="hidden" name="_csrf" value="{{csrfToken}}">
                    <form method="post" action="/verifyemail" class="w-100">
                    {{#if user.email}}
                        <div>This is your registered email please verify.</div>
                        <div class="row mt-3 align-items-center">
                            <div class="col-8">
                                <input class="input-text inputvalidation" name="email" placeholder="&#xf0e0; Email" value="{{user.email}}" type="email" readonly required/>
                            </div>
                            <div class="col-3">
                                <div class="button-solid">
                                    <button type="submit">Verify</button>
                                </div>
                            </div>
                        </div>
                    {{else}}
                        <div>Please enter your registered email id which you have used to buy courses.</div>
                        <div class="row mt-3 align-items-center">
                            <div class="col-8">
                                <input class="input-text" name="email" placeholder="&#xf0e0; Email" type="email" required/>
                            </div>
                            <div class="col-3">
                                <div class="button-solid">
                                    <button type="submit">Verify</button>
                                </div>
                            </div>
                        </div>
                    {{/if}}
                    </form>
                </div>
            {{/unless}}
            {{> error-snippet}}
        </div>
    </div>
</div>
